:root {
  --primary-background-color: #FFFFFF;
  --secondary-background-color:#2E2F42;
  --tertiary-background-color:#F4F4FD;
  --secondary-color-black:#2E2F42;
  --primary-color-black:#434455;
  --primary-color-white:#FFF;
  --secondary-color-white:#F4F4FD;
  --active-link-color: #404BBF;
  --button-color-primary:#4D5AE5;
  --button-color-secondary:#F4F4FD;
  --button-text-primary:#4D5AE5;
  --button-link-color:#404BBF;
  --border-color-primary:#e7e9fc;
  --border-modal-color:rgba(46, 47, 66, 0.40);
  --input-text-gray:#8e8f99;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display:block;
}

body {
  font-family:"Roboto", sans-serif;
  color:#434455;
  background-color:#FFFFFF;
}

.container {
  width: 100%;
  max-width:1158px;
  padding: 0px 15px;
  margin: 0 auto;  
}

.list {
  list-style-type: none;
}

.logo {
    color: var(--button-text-primary);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--active-link-color)
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}




 /* Header */

 .header {
  border-bottom: 1px solid var(--border-color-primary);
  box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);
 }

 .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

.header-menu-link {
  display:block;
  color:var(--secondary-color-black);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover {
  color: var(--active-link-color);
}

.header-logo {
  margin-right: 76px;
}

.header-logo-studio {
  color: var(--secondary-color-black);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu-list {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap:40px;
}

.header-address {
  font-size: 16px;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.address-contact {
  color: var(--primary-color-black);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
  display: flex;
  gap: 40px;
}

.current {
  position: relative;
  color:var(--active-link-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left:0;
  width:100%;
  height: 4px;
  border-radius: 2px;
  background: var(--active-link-color);
}
/* Hero-section */


.hero-title {
  color: var(--primary-color-white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  flex-shrink: 0;
  margin: 0 auto;
}


.service-order-button {
  color: var(--primary-color-white);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--button-color-primary);
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  display:block;
  margin: 48px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-order-button:hover,
.service-order-button:focus {
  background-color: var(--active-link-color);
}

.is-hidden {
  position: absolute;
  width: 408px;
  height: 584px;
  margin: auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #FFF;
}

.is-hidden-button {
  width: 24px;
  height: 24px;
  position:absolute;
  right:24px;
  top:24px;
  padding:8px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}


.hero-section {
  background-color: var(--secondary-background-color);
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

/* Advantages-section */

.advantages-header {
  color: var(--secondary-color-black);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.advantages-section {
  padding: 120px 0;
}

.advantages-section-list {
  display: flex;
  gap:24px;
}

.advantages-item {
  width:calc((100% - 3 * 24px) / 4);
}
.advantages-title {
  color:var(--secondary-color-black);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advantages-description {
  color: var(--primary-color-black);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F4F4FD;
  padding: 24px 0;
  border-radius: 4px;
  margin-bottom: 8px;
}
/* Features-section */

.features-section {
  padding-bottom: 120px;
}

.features-item-list {
  display:flex;
  gap:24px;
}

.features-list-item {
  width: ((100% - 3 * 16px) / 3);
}

.features-section-title {
color: var(--secondary-color-black);
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
}

/* Team-section */

.team-section {
  background-color: var(--tertiary-background-color);
  padding: 120px 0;
  height: 732px;
}

.team-section-title {
  color: var(--secondary-color-black);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-member {
  color: var(--secondary-color-black);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.team-member-description {
  color: var(--primary-color-black);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-list {
  display:flex;
  justify-content: center;
  gap: 24px;

}

.team-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icons-item {
  width: 40px;
  height: 40px;
}

.team-icons-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color-primary);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover,
.team-icons-link:focus {
  background-color: var(--active-link-color);
}


.team-section-icons {
  fill:#F4F4FD;
}

.container-team {
  padding: 32px 0;
}

.team-list-item {
  background-color: var(--primary-color-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 3 * 24px) / 4)
}

/* CUSTOMERS */

.customers-section {
  padding: 120px 0;
}

.customers-section-title{
  color: var(--secondary-color-black);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.customers-section-list {
  display: flex;
  gap: 24px;
}
.customers-section-item {
  width: calc((100% - 5 * 24px ) /6);
  height: 88px;
}

.customers-section-icons {
  fill:currentColor;
}
.customers-icons-link {
  color: #8E8F99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  padding: 16px 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons-link:is(:hover, :focus) {
  color:var(--active-link-color);
  border-color: var(--active-link-color);
}


/* FOOTER */

.container-footer {
  display:flex;
  align-items: baseline;
}

.container-footer-left {
  margin-right: 120px;
}

.footer {
  background-color: var(--secondary-background-color);
  padding: 100px 0;
}

.footer-logo-studio {
  color: var(--secondary-color-white);

}

.footer-description {
  color: var(--secondary-color-white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.link-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-icons-list {
  display:flex;
  gap:16px;
}

.footer-icons-item {
  width: 40px;
  height: 40px;
}

.social-icon-title {
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.footer-icons-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color-primary);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:is(:hover, :focus) {
   background-color: #31D0AA;
}

.footer-subscribe-container {
  margin-left: 80px;
}

/* .footer-subscribe {
  padding-right: 24px;
} */

.subscribe-title {
  display: block;
  color: var(--primary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.input-subscribe {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--primary-color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  background-color: transparent;
  padding-left: 16px;
  color: var(--primary-background-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.input-subscribe::placeholder {
  color:var(--primary-background-color);
}

.container-input-button {
  display: flex;
  gap: 24px;
}

.footer-button-submit {
      color: var(--primary-color-white);
        font-size: 16px;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--button-color-primary);
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-submit:hover,
.footer-button-submit:focus {
  background-color: var(--active-link-color);
}

.subscribe-icon {
 fill: var(--primary-background-color);
 margin-left: 16px;
}


/* PORTFOLIO */

/* Filter-button-section */

.filter-button {
 font-family: "Roboto", sans-serif;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.04em;
 background-color: var(--button-color-secondary);
 color: var(--button-text-primary);
 cursor: pointer;
 padding: 12px 24px;
 border-radius: 4px;
 border: 1px solid var(--border-color-primary);
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.filter-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--button-link-color);
  color: var(--primary-color-white);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/* Portfolio-section */


.portfolio-section {
 padding: 96px 0 120px 0;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:is(:hover, :focus) .overlay {
  transform: translateY(0%);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color-black);
  margin-bottom: 8px
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-white);
  background-color: #4D5AE5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid var(--border-color-primary);
  border-top: none;
}

.portfolio-section-list {
  display: flex;
  justify-content:  space-between;
  flex-wrap:wrap;
  gap: 24px;
  row-gap: 48px;
}


.portfolio-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--primary-color-black);
}

/* MODAL */

.backdrop {
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  background-color: rgba(46, 47, 66, 0.40);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  border-radius: 4px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding:72px 24px 24px;
}

.modal-title {
  color: var(--secondary-color-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center ;
}

.modal-label {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;
}

.comment-label {
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--border-modal-color);
  background-color: transparent;
  outline:transparent;
  padding-left:38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-input:focus {
  border-color:#4D5AE5;
}

.modal-input:focus + .input-icons {
  fill: #4D5AE5;
}

.input-wrap {
  position: relative;
}

.input-label {
  color: var(--input-text-gray);
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid var(--border-modal-color);
  background-color: transparent;
  padding: 8px 16px;
  resize: none; 
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-input:focus-within {
  border-color: #4D5AE5;
}

.input-icons {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-container {
  margin-bottom: 24px;
}

.check-text {
  color:#8E8F99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy-link {
  color: #4D5AE5;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

/* .check-text {
  display: flex;
  align-items: center;
} */

.checkbox-check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--border-modal-color);
  margin-right: 8px;;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-check:checked +.check-text span {
background-color: var(--button-link-color);
border:none;
fill: var(--button-color-secondary);
}

.modal-check:checked+.check-text span {
  background-color: var(--button-link-color);
  border: none;
  fill: var(--button-color-secondary);
}

.modal-check:focus +.check-text span {
  border-color: var(--button-link-color);
}

.button-modal {
      color: var(--primary-color-white);
        font-size: 16px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--button-color-primary);
        padding: 16px 32px;
        min-width: 169px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        display: block;
        margin: 24px auto 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--active-link-color);
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top:24px;
  right:24px;
  cursor:pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:is(:hover, :focus) {
  background-color: var(--button-link-color);
  border: none;
  fill: var(--primary-background-color);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}